# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.notes
client_secret_490654219742-i9ea6bruh70731fgpi810hsf7hb1g47p.apps.googleusercontent.com.json
# Google Cloud
*.gcloudignore
.gcloud/
app.yaml
.env
credentials.json
client_secrets.json
*-credentials.json
service-account.json
.google-cloud-sdk/
video_tests.py  

selenium_cheat_sheet.md  

Bell_credentials.csv 

bio_tests.log 

bio_tests.py 

least_permissions_policy.json  

podcast_scraper.log 


sorted_episodes.csv  

webpage.html  

load_more_button.log 

load_more_debug.log 


personal_notes/  

reports/  

episodes.csv  

detailed_summary_test.py 


.cursor/  

output/ 

/webpage_parsing/ 

